<%- include('header.ejs') %> 


    <div class="mainpanel">
        <div class="about">
            <h1 class="title">About</h1>
            <p>Hey i am vinson, I am a electrcal enginnering student, but i decided that wasn’t for me and put all my effort on design. Research and analyzing, designs and prototype, controlling the experience of the next billion users, I couldn’t ask for more </p>
            <button> <a href="/gif/Resume.pdf" target="_blank">resume</a> </button>

        </div>
        <img src="/images/Rectangle 130.png" alt="" class="profile">
    </div>
    <div class="body aboutbody">

        <!-- intro -->
        <h5>My journey</h5>
        <p class="info">March 30 2020, my college has announced lockdown due to covid-19. It was before my second semester (freshman year). I had no idea what i was going to do with my life, i was just going with the flow around me, after a month they announced complete lockdown and i was left with a lot of free time it made me wander into the world of coding,
            <span class="readmoretext"> I started with python for a few day’s but i got bored and wanted something more creative and i discovered web development it really piqued my intrest and i took a web developement course on udemy and stick to it all day. i completed it in about 3 months but the college works got loaded i started to realize that electrical engineering was not for me but i couldn’t change my major and i really needed that certificate to do anything afterwards so i just continued and then i stopped coding when my semester exams started it became really stressful so fast forward to third semester, once again lockdown right before the exams, It was then that i discovered the world of design (UI/Ux). Then i tought this was for me and took googles professional UI/Ux course through coursera and i completed it in a month. Well since then i just continued doing what i love and made a lot plans for the future. Design gave me hope and hit with a important realization..</span><span class="readmore">readmore...</span> </p>
        <div class="gif"><img src="/gif/Akira trash.gif" alt="" srcset=""></div>
        <!-- skills -->

        <h5>How i got my design powers</h5>
        <p class="info">Practise Practise Practise..., well this what helped me the most along with some youtube tutorials and some inspiration from fellow designers, google's profesional course and last but not least you need to have intrest and passion towards what you are doing and dedicate yourself to it.</p>
        <!-- other stuff -->
        
        <h5>Other hobbies and adventures</h5>
        <p class="info">Well my curiosity spreads wide and so do my intrests apart from the usual design and web developement i am intrested in videogames, sketching, going on adventures w/ friends, cooking, watching anime and movies, reading novels and a few intresting books that catch my eye, trying out new ways to spend my creative juices, riding my bike and just having fun and meeting new people</p>
    <!-- <div class="clipcontainer">
        <div class="clip"><img src="assets/images/about/damiano-baschiera-hFXZ5cNfkOk-unsplash.jpg" alt=""></div>
        <div class="clip"><img src="assets/images/about/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg" alt=""></div>
        <div class="clip"><img src="assets/images/about/fabio-silva-nmTm7knUnqs-unsplash.jpg" alt=""></div>
        <div class="clip"><img src="assets/images/about/sunorwind-C1MJ8IYUSmU-unsplash.jpg" alt=""></div>
    
        
    </div> -->
    </div>
    
    <script src="scripts/index.js"></script>
    <script src="scripts/burger.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="scripts/slider.js"></script>
</body>
</html>