<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@300;400;600;700;900&family=Nunito:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <nav class="nav">
        <p class="nav-brand">Vinson</p>
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Work</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Resume</a></li>
        </ul>
    </nav>
    <header class="about-header">
    </header>

    <main>
        <section class="about-hero">
            <div class="about-text-container">
            <h1 class="heading-primary h1">Me</h1>
            <h1 class="heading-primary h2">Games</h1>
            <h1 class="heading-primary h3">Adventures</h1>
            <h1 class="heading-primary h4">Books</h1>
            <h1 class="heading-primary h5">Art</h1>
            <h1 class="heading-primary h6">Cooking</h1>
            <div class="textimg"></div>
            </div>

        </section>
        <section class="about-main">
        <p class="about-text">I am a Undergrad engineer who has found what i wanted to do during this pandemic, which has given me lots of time to look at myself and crafting user experiences has caught my eye along with web developement and a bit of AI, but I have decided that UI/UX design is what i am going to purse the moment i learned about it and have dweled deeper into this ever since.</p>
        <div class="form-container u-mt-xl">
            <form action="https://formspree.io/f/xvolyjkk" method="post" class="u-mt-xl">
                <h3>Lets have a chat</h3>
                <input type="text" class="input" id="name" name="name" placeholder="Name" required>
                <input type="email" class="input" name="emailid" id="email" placeholder="Email">
                <input type="text" class="input" name="message" id="message" placeholder="Message">
                <button type="submit" class="btn btn-submit">Send</button>
            </form>
        </div>
    </section>
    </main>
    <footer class="footer about-footer">
        <div class="footer-content">
            <h6 class="footer-heading u-mb-s">Don't be a stranger</h6>
            <ul class="icon-list">
                <li><img src="logos/behance-1.svg" alt="" class="icon"></li>
                <li><img src="logos/dribbble-icon.svg" alt="" class="icon"></li>
                <li><img src="logos/linkedin-icon-2.svg" alt="" class="icon"></li>
                <li><img src="logos/instagram-5.svg" alt="" class="icon"></li>
            </ul>
        </div>
    </footer>
</body>
</html>