<%- include('header.ejs') %>

    
        <div class="image">
            <div id="textbox">
            <p class="intro">Hej, I am Vinson,</br> A design enthusiast currently pursuing a bachelors degree in Electronics and communication engineering. 
                My focus is to create creative designs and implement ideas that people love to use</p>
            <h1 id="megatxt">
            Look down to find stuff my brain created for serotonin</h1>
            </div>
        </div>


    <h4>Selected work</h4>

    <!-- <ul class="worknav">
        <li class="card-link" id="all">All</li>
        <li class="card-link" id="design">Designs</li>
        <li class="card-link" id="illustration">illustrations</li>
        <li class="card-link" id="td">3D work</li>
        <li class="card-link" id="art">Art</li>
    </ul> -->
    <div class="cont">
        <div class="card-item all design"><a href="https://www.behance.net/gallery/129429953/Starly"><img src="images\Frame 3.png" alt=""><h3>Case study</h3></a></div>
        <div class="card-item all design"> <a href="https://www.figma.com/file/JV4ZlvJ7dykLH93VX7IjUM/Untitled?node-id=0%3A1"> <img src="images\Frame 2.png" alt=""></a></div>
        <div class="card-item all design"> <a href="https://www.figma.com/file/npEiIn6umjlrfJpAxVjuOw/designs?node-id=0%3A1"> <img src="images\Frame 1.png" alt=""></a></div>
        <div class="card-item all design"> <a href="#"> <img src="images\Frame 4.png" alt=""></a></div>
        <div class="card-item all design"> <a href="https://www.figma.com/file/I9W9rH2YIYzpdngv2ObAUj/Untitled?node-id=0%3A1"> <img src="images\MacBook Pro - 1.png" alt=""></a></div>

    </div>

<!-- 
    <footer>
    <div class="contact"><h1>Connect</h1>
        <p>vinson2346@gmail.com</p>
        <div class="sociallinks">
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
        </div>
    </div>
    </footer>  -->
<script src="scripts/index.js"></script>
<script src="scripts/burger.js"></script>
</body>
</html>