<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Portfolio of Vinson</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@300;400;600;700;900&family=Nunito:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <nav class="nav">
        <p class="nav-brand">Portfolio</p>
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Resume</a></li>
        </ul>
    </nav>
    <header class="header">
        <img src="images/Frame 5.png" alt="" id="starly">
    </header>

    <main class="main">


    </main>

    <footer class="footer u-mt-l u-mb-md">
        <div class="footer-content">
            <h6 class="footer-heading u-mb-s">Don't be a stranger</h6>
            <ul class="icon-list">
                <li><img src="logos/behance-1.svg" alt="" class="icon"></li>
                <li><img src="logos/dribbble-icon.svg" alt="" class="icon"></li>
                <li><img src="logos/linkedin-icon-2.svg" alt="" class="icon"></li>
                <li><img src="logos/instagram-5.svg" alt="" class="icon"></li>
            </ul>
        </div>
    </footer>
</body>
</html>